<div class="container">
  <h3>仕事編集画面</h3>
  <div class="works-edit-form">
    <%= form_with model: @work, url: :group_work, local: true do |f| %>
      
      <div class="field">
        <%= f.label :work_name %><br/>
        <%= f.text_field :work_name, placeholder: 'Please input work name' %>
      </div>

      <div class="field">
        <%= f.label :deadline %><br/>
        <%= f.date_field :deadline %>
      </div>

      <div class="field">
        <%= f.label :contents %><br/>
        <%= f.text_area :contents %>
      </div>

      <div class="btn">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>