<div class="menu_bar">
  <%= render "groups/menu_bar" %>
</div>
<div class="wrapper">
  <div class="side_bar">
    <%= render "groups/side_bar" %>
  </div>
  <div class="works-main-screen">
    <div class="group_name">
      現在は  <%= @group.group_name %>  にいます。
      <div class="menu-btn">
        <%= link_to "グループを解散する", group_path(@group), method: :delete %>
        <%= link_to "仕事を登録する", new_group_work_path(params[:group_id]) %>
      </div>
    </div>
    <div class="work-table" >
      <table border="0" width="1000" >
        <tr>
          <th>仕事名</th>
          <th>期日</th>
          <th>仕事内容</th>
          <th>進捗状況</th>
        </tr><br/>
        <% @works.each do |work|%>
          <div class="work">
            <tr>
              <td><%= link_to work.work_name, group_work_path(@group, work.id) %></td>
              <td><%= work.deadline%></td>
              <td><%= work.contents%></td>
              <td><%= work.progress%>%</td>
              <td><%= link_to "編集", edit_group_work_path(@group, work.id), method: :get %></td>
              <td><%= link_to "削除", group_work_path(@group, work.id), method: :delete %></td>
            </tr>
          </div>
        <% end %>
      </table>
    </div>
  </div>
</div>