<div class="menu_bar">
  <%= render "groups/menu_bar" %>
</div>
<div class="wrapper">
  <div class="side_bar">
    <%= render "groups/side_bar" %>
  </div>

  <%= @group.group_name %>
  <%= link_to "仕事を登録する", new_group_work_path(params[:group_id]) %>
  <div>
    <% @works.each do |work|%>
      <%= work.work_name %>
    <% end %>
  </div>
</div>