<div class="container">
<h3>アカウントの編集</h3>

  <div class="user-info-edit">
    <%= form_with model: current_user, local: true do |f| %>
      <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email %>
      </div>

      <div class="btn">
        <%= f.submit "Account information Update", class: 'btn' %>
      </div>

    <% end %>
  </div>
</div>