<div class="contents">
  <div class="container">
    <h3>ユーザーログイン</h3>
      <%= devise_error_messages! %>
      <div class="input_form">
        <%= form_with model:resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>

          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %></br>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          
          <div class="btn">
            <%= f.submit "ログイン", class: 'btn' %>
          </div>
          
        <% end %>
      </div>
    <div class="link_submit">
      アカウントを持っていない方は
      <%= link_to "登録", new_user_registration_path %>
      してください。
    </div>
  </div>
</div>